* {
    border: none;
    border-radius: 0;
    font-family: 'Noto Sans Display', 'FontAwesome 5 Free Solid', sans-serif;
    font-weight: 500;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(43, 48, 59, 0.5);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: white;
}

#workspaces button {
    background: transparent;
    border-bottom: 3px solid transparent;
    color: #a0a0a0;
    padding: 0 5px;
}

#workspaces button.focused {
    border-color: white;
    color: white;
}

#custom-addworkspace {
    border-bottom: 3px solid transparent;
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding: 0 10px;
}

#mode {
    background: #64727d;
}

#window {
    border-bottom: 3px solid transparent;
}

#clock, #mode, #network, #pulseaudio, #custom-gpgstatus, #custom-launcher, #tray {
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
    padding: 0 10px;
}

#clock {
    background: #64727d;
}

#network {
    background: #2980b9;
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
    background: #f1c40f;
    color: black;
}

#pulseaudio.muted {
    background: #90b1b1;
    color: #2a5c45;
}

#tray {
    background: #2980b9;
}

#custom-gpgstatus.locked {
    background: #66bb6a;
}

#custom-gpgstatus.unlocked {
    background: #c62828;
}

#custom-launcher {
    background: black;
    border-color: #0e0e0e;
}
