* {
    border: none;
    border-radius: 0;
    font-family: Roboto, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(43, 48, 59, 0.5);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: white;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: #64727d;
    border-bottom: 3px solid white;
}

#mode {
    background: #64727d;
}

#clock, #network, #pulseaudio, #custom-gpgstatus, #custom-addworkspace, #custom-launcher, #tray, #mode {
    padding: 0 10px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

#clock {
    background: #64727d;
}

#network {
    background: #2980b9;
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
    background: #f1c40f;
    color: black;
}

#pulseaudio.muted {
    background: #90b1b1;
    color: #2a5c45;
}

#tray {
    background: #2980b9;
}

#custom-gpgstatus.locked {
    background: #66bb6a;
}

#custom-gpgstatus.unlocked {
    background: #c62828;
}

#custom-launcher {
    background: #000000;
    border-bottom: 3px solid #0e0e0e;
}
